canvas {
    border-radius: 10px;
}

.captcha {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
}

.custom-rounded {
    border-radius: 10px !important;
}